.footer{
  color: #FAFBFC;
  background: #091E42;
  padding: 3% 7%;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
.footer__left,
.footer__right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.8rem 0;
  
}
.footer__left{
  width: 30%;
}
.footer__right{
  width: 40%;
}
#logo{
  color: #A5ADBA;
  font-weight: 450;
  cursor: pointer;
}
.light-text{
  font-weight: 100;
  font-size: 1.4rem;
  width: 80%;
  margin-top: .2rem;
}
.icons{
  display: flex;
  justify-content: flex-end;
}
.icons i{
  font-size: 2rem;
  margin-left: 1.4rem;
}
.long-text{
  width: 100%;
  margin-top: .5rem;
  padding: 5px 0;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 540px) {
  .footer{
    padding: 3.5% 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__left,
  .footer__right{
    align-items: center;
    text-align: center;
    padding: 1.8rem 0;
  }
  .footer__left{
    width: 100%;
  }
  .footer__right{
    width: 60%;
    margin-top: 2.5rem;
  }
  .light-text{
  margin-top: 1rem;
  }
  .long-text{
    width: 100%;
    margin-top: 1.5rem;
  }
}