.formField{
  margin-top: 13rem;
  display: flex;
  padding: 1rem 2rem;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 5;
}
.formtexts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 4rem;
  align-items: center;
}
.welcome__texts{
  padding: 1rem;
}
.welcome__texts h3{
  text-align: center;
  font-size: 2.4rem;
  color: #091E42;
}
.welcome__texts p{
  font-size: 1.4rem;
  color: #42526E;
  text-align: center;
  margin-top: .5rem;
}
.userdetails{
  padding: 1rem;
  display: flex;
}
.userdetails__texts{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.userdetails__texts #userName{
  text-align: center;
  color: #091E42;
  font-size: 2rem;
  font-weight: 450;
}
.userdetails__texts p{
  text-align: center;
  font-size: 1.4rem;
  font-weight: 100;
  color: #7A869A;
  margin-top: .4rem;
}
.userdetails i{
  font-size: 2rem;
  color: #7A869A;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form{
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}
.form p{
  font-size: 1.6rem;
  color: #091E42;
}
.form input{
  padding: .9rem;
  margin: 0.5rem 0 1rem;
  border-radius: 5px;
}
#password__input{
  border: 2px solid #e5e5e5;
}
#password__input:focus{
  outline: none;
}
.submit__input{
  background: #0052CC;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 450;
  border-color: #0052CC;
  margin-top: 2rem;
  text-align: center;
  outline: none;
  padding: .9rem;
  margin: 0.5rem 0 1rem;
  border-radius: 5px;
}
.submit__input a{
  color: #fff;
}
.line{
  margin-top: 2rem;
  background: #DFE1E6;
  width: 100%;
  border: 1px solid #DFE1E6;
}
.hidden{
  display: none;
}
#forgotPassword{
  font-size: 1.4rem;
  font-weight: 100;
  text-align: center;
  margin-top: 1.5rem;
}

@media screen and (max-width: 540px) {
  .formField{
    margin-top: 12rem;
  }
  .welcome__texts{
    padding: 0;
  }
  .welcome__texts h3{
    font-size: 2rem;
  }
  .welcome__texts p{
    font-size: 1.4rem;  
  }
  .userdetails{
    padding: 0rem;
  }
  .userdetails__texts{
    padding: 1rem;
  }
  .userdetails__texts #userName{
    font-size: 1.8rem;
  }
  .userdetails__texts p{
    margin-top: .2rem;
  }
  .userdetails i{
    font-size: 1.6rem;
  }
  .form{
    margin: 1.2rem 0;
  }
  .form p{
    font-size: 1.5rem;
  }
  .form input{
    padding: .5rem;
    margin: 0.5rem 0 1rem;
    border-radius: 5px;
  }
  .submit__input{
    font-size: 1.4rem;
    border-color: #0052CC;
    margin-top: 1.4rem;
  }
  .line{
    margin-top: 1.5rem;
  }
  .form a{
    margin-top: 1.4rem;
  }
}