.adminLogistics{
  width: 100%;
  background: #fff;
  padding: 7%;
  font-size: 1.6rem;
  /* background: url(../../assets/images/Group\ 19835.png) center center/cover;
  background-repeat: no-repeat;
  background-clip: unset; */
}
.adminLogistics__texts{
  display: flex;
  justify-content: space-between;
}
.adminLogistics__title{
  display: flex;
  flex-direction: column;
  width: 38%;
  padding: 1.8rem 0;
}
#adminLogistics__title__bold-text{
  color: #091E42;
  font-size: 4.8rem;
  font-weight: 700;
}
#adminLogistics__title__light-text{
  color: #5E6C84;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  width: 100%;
}
.adminLogistics__aside-texts{
  display: flex;
  width: 45%;
  padding: 1.6rem;
  justify-content: space-between;
  margin-top: -2rem;
}
.adminLogistics__aside-texts__contents{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.aside-text__one,
.aside-text__two{
  display: flex;
  flex-direction: column;
}
.aside-text__one{
  width: 40%;
}
.aside-text__two{
  width: 45%;
}
#aside-texts__contents__bold-text{
  color: #091E42;
  font-size: 2rem;
  font-weight: 600;
}
#aside-texts__contents__small-text{
  color: #5E6C84;
  font-size: 1.4rem;
  line-height: 1.3;
  margin-top: 1rem;
}
.aside-icon{
  font-size: 2.2rem;
  font-weight: 100;
  color: #fff;
  width: 5rem;
  height: 48px;
  background: #5243AA;
  border-radius: 50%;
  padding: 1rem;
  text-align: center;
}
#travel-icon{
  background: #FF8B00;
}
#assets-icon{
  background: #008DA6;
}
#voucher-icon{
  background: #0052CC;
}
#payroll-icon{
  background: #008DA6;
}

.adminLogistics__directList{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7.5rem auto 0;
  padding: 0;
  width: 70%;
}
.adminLogistics__directList img{
  width: 100%;
}
.adminLogistics__second-section{
  position: relative;
  margin-top: 5.3rem;
}
.adminLogistics__second-section::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 450px) {
  .adminLogistics{
    width: 100%;
    padding: 7%;
  }
  .adminLogistics__texts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .adminLogistics__title{
    width: 100%;
    padding: 1.8rem 0;
  } 
  #adminLogistics__title__bold-text{
    font-size: 3rem;
  } 
  #adminLogistics__title__light-text{
    margin-top: 1.4rem;
  }
  .adminLogistics__aside-texts{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
  }
  .aside-text__one{
    width: 80%;
    padding: 1.5rem 0;
  }
  .aside-text__two{
    width: 80%;
    padding: 1.5rem 0;
    margin-top: 2.2rem;
  }
  .adminLogistics__aside-texts__contents{
    margin-top: 1.2rem;
  }
  .adminLogistics__directList{
    margin: 3rem auto 0;
    padding: 0;
    width: 100%;
  } 
  .adminLogistics__directList img{
    width: 100%;
  }
}