.imageContainer{
  margin-top: 10rem;
  display: flex;
  width: 100%;
  padding: 1.5rem;
}
.imageSubContainer__one,
.imageSubContainer__two{
  width: 100%;
  display: flex;
}
.imageSubContainer__one div,
.imageSubContainer__two div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageContainer div img{
  text-align: center;
  width: 16rem;
}
#tenece{
  height: 5rem;
  width: 14rem;
}

@media screen and (max-width: 540px) {
  .imageContainer{
  margin: 5rem 0;
  padding: 0;
}
  .imageSubContainer__one,
  .imageSubContainer__two{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .imageSubContainer__one div,
  .imageSubContainer__two div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  #tenece{
    margin-top: -1.5rem;
  }
}