.humanResource{
  width: 100%;
  background: #F4F5F7;
  padding: 5% 7%;
}
.humanResource__title{
  display: flex;
  flex-direction: column;
  width: 50%;
}
#humanResource__title__bold-text{
  color: #091E42;
  font-size: 4.8rem;
  font-weight: 700;
}
#humanResource__title__light-text{
  color: #5E6C84;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 2.5rem;
  width: 80%;
}

.humanResource__directList{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7.5rem auto 0;
  padding: 0;
  width: 70%;
}
.humanResource__directList img{
  width: 100%;
}

@media screen and (max-width: 540px){
  .humanResource{
    padding: 14% 5% 4%;
  }
  .humanResource__title{
    width: 100%;
  }
  #humanResource__title__bold-text{
    font-size: 3rem;
  }
  #humanResource__title__light-text{
    font-size: 1.4rem;
    margin-top: 1.4rem;
    width: 90%;
  }
  .humanResource__directList{
    margin-top: 5rem;
    width: 100%;
  }
  
}